<md-dialog aria-label="{{ item.item_name }}">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ item.fields.item_name }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <p>And no, as you can see, it's not implemented, sadly...</p>
            <p>It would have been great isn't it, to see like an array of the different data.</p>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="add()">Add</md-button>
            <md-button class="md-secondary" ng-click="hide()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>